h1:hover{
    color: red;
    fill: red;
    cursor: pointer;
}

.flamengo{
    background-color: red;
}

.botafogo{
    background-color: black;
    color: white;
}

.gremio{
    background-color: blue;
    color: white;
}

.palmeiras{
    background-color: green;
}

.time{
    width: 150px;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border: 5px solid rgb(124, 20, 184);
    border-radius: 50px;
    padding: 5px;
    
}


    
   
    

