*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(124, 166, 194);
}

.cabeçalho{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.container img{
    width: 50px;
}

.menu-hamburguer{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("imagens/bars-solid.svg");

}

.container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.container_itens{
    display: none;
}

.container_titulo{
    display: none;
}

.itens{
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.itens li{
    list-style-type: none;
}

@media (min-width: 1024px) {
    .container_titulo{
        display: none;
    }

    .menu-hamburguer{
        display: none;
    }

    .container_itens{
        display: block;
    }
    
}